// Fuentes
$reloj: 'Cute Font', cursive;
$win: 'Mochiy Pop P One', sans-serif;
// Colores
$rojo: #E43D40;
$rojo-hover: #F37970;
$rojo-border: #D11D20;
$negro: #0A0708;
$blanco: #F9F9FB;
$gris: #444444;
$verde: #93E43D;
$amarillo: #FFDB15;
$purpura: #8E3DE4;
$verde-hover: #27E35A;
$arn: #E3C454;